<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all',
                             'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
  <![endif]-->
</head>
<div>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <!--<img src="/sumup-logo.jpg" alt="rss feed" height="50" width="60"/>-->
    <nav>
      <br>
      <b>SumUp - Payouts</b>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Import",   '/arquivos/index' %></li>
        <li><%= link_to "View",   '/payments/show' %></li>
      </ul>
    </nav>
  </div>
</header>

  <body>
  <%= yield %>
  </body>

</html>